.service-area{
    font-size: 60px;
   margin-top: 30px;
   text-align: center;
 }

.service-area p{
  font-size: 20px;
  margin-bottom: -5px;
  text-align: center;
}
h2{
    text-align: center;
    display: inline-block;
    width:1200px;
  }

.service-wrap {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  transition: all 0.5s ease 0s;
  z-index: 9;
  margin-top: 20px;
}
.service-wrap::before, .service-wrap::after{
  content: "";
  height: 300%;
  position: absolute;
  transform: rotate(45deg);
  width: 120%;
  z-index: -9;
  transition: all 0.5s;
  opacity: 0;
  background: #62b4b4;
}
.service-wrap::before {
  top: -37px;
  left: 100%;
}
.service-wrap:hover:before {

  left: -27px;
  opacity: 1;
}
.service-wrap::after{
  
    right: 100%;
   bottom: -37px;
}
.service-wrap:hover:after
{
   right: -27px;
   opacity: 1;
}	

.service-wrap:hover{
 color: white;
}

.service-wrap:h3{
  color: white;
}

.service-wrap:hover h3{
 color: white;
}
.service-wrap:hover h3:after{
  background-color: white;
}

.service-icon {
  font-size: 60px;
  background-image: url(..//img/servicebck.png);
  margin: 5px auto 20px;
  display: block;
  margin-bottom: -55px;
  transition: all 0.5s;
  justify-items: center;
  text-align: center;
}


.service-wrap:hover .service-icon i{
   transform: rotate(360deg);
}
.service-wrap h3{
  font-size: 25px;
  font-weight: 700;
 padding-bottom: 15px;
 position: relative;
}


.service-wrap p{
font-size: 14px;
margin-bottom: 0;
}

.row.container-fluid{
padding-left: 0;
padding-right: 0;
}
.row.no-gutters [class*=col-]{
padding-left: 0;
padding-right: 0;

}
.img-wrapper{
overflow: hidden;

}
.img-wrapper img{
transition: transform 0.5s ease;
width: 100%;
}
.img-wrapper img:hover{
transform: scale(1.5);
cursor: zoom-in;
}
